- builds = []
- builds.push({ href: '#/create', icon: 'project-design', label: 'Mobile app design' })
- builds.push({ href: '#', icon: 'project-development', label: 'Mobile app development'})
- builds.push({ href: '#', icon: 'project-custom', label: 'Custom solution'})

section.jumbotron
  p Our Talented 70,000 strong comunity is ready to work on your project today

section.choose-build
  h1 What can we build for you?

  ul.builds
    each build in builds
      li
        a(href=build.href)
          .icon
            //- img("src"="/getting-started/images/#{build.icon}.svg")
            svg
              image("xlink:href"="/getting-started/images/#{build.icon}.svg" src="#{build.icon}.png", width="100%", height="100%")

          .label!= build.label

- articles = []
- articles.push({ href:"/speak-with-an-expert", header: 'Speak with an expert', p: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' })
- articles.push({ href:"/learn-about-our-process", header: 'Learn about our process', p: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' })
- articles.push({ href:"/see-examples", header: 'See examples of our work', p: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' })

aside.learn-more
  each article in articles
    article
      header
        a(href=article.href)!= article.header

      p!= article.p
