layout-header.elevated(role="banner")

main.layout-main.register.flex.column.center.middle("role"="main" layout-main=true flush-height=true)
  h1 Welcome to Appirio

  p.subheader.secondary Let's start building your app.  Login or create an account below to begin.

  p.error(ng-show="vm.error") {{ vm.errorMessage }}

  form(ng-submit="vm.submit()")
    .first-name
      input.widest(type="text" name="first-name" ng-model="vm.firstName" required=true placeholder="first name")

    .last-name
      input.widest(type="text" name="last-name" ng-model="vm.lastName" required=true placeholder="last name")

    .organization
      input.widest(type="text" name="organization" ng-model="vm.organization" required=true placeholder="organization")

    hr

    input.widest(type="text" name="username" ng-model="vm.username" required=true placeholder="username")

    input.widest(type="password" name="password" ng-model="vm.password" required=true placeholder="password")

    input.widest(type="email" name="email" ng-model="vm.email" required=true placeholder="email")

    button.action.submit(type="submit") Register

  p.reminder Already have an acount? <a ui-sref="login">Log in</a>

layout-footer