layout-header.elevated(role="banner" work-id="{{ vm.workId }}" user-type="copilot")

layout-project-nav(work-id="{{ vm.workId }}" user-type="copilot")

main.project-page.layout-main.flex.column("role"="main" layout-main=true flush-height="lock")
  h2 messaging with customer

  messaging.flex.column.flex-grow.middle(
    flush-height=true
    work-id="{{ vm.workId }}"
    thread-id="{{ vm.threadId }}"
    subscriber-id="{{ vm.subscriberId }}"
  )

  loader(ng-show="vm.working")

layout-footer
