loader(ng-show="vm.loading")

.confirm.transition.claim.flex.middle.center(ng-class="{ active: vm.showConfirmClaim }")
  p(ng-hide="vm.claimed") Are you sure you want to claim this project?

  .flex.bottom(ng-show="vm.claimed")
    .icon.checkmark-white.small

    h5 Project claimed!

  button.hollow(
    ng-click="vm.claim()"
    ng-hide="vm.claiming || vm.claimed"
    ng-disabled="!vm.canUpdate"
  ) yes, claim it!

  button.hollow(
    ng-click="vm.showConfirmClaim = !vm.showConfirmClaim"
    ng-hide="vm.claiming || vm.claimed"
    ng-disabled="!vm.canUpdate"
  ) cancel

  .loader-house(ng-show="vm.claiming")
    loader

.confirm.launch.flex.middle.center(ng-class="{ active: vm.showConfirmLaunch }")
  p(ng-hide="vm.launched") Are you sure you want to launch this project?

  .flex.bottom(ng-show="vm.launched")
    .icon.checkmark-white.small

    h5 Project launched!

  button.hollow(
    ng-click="vm.launch()"
    ng-hide="vm.launching || vm.launched"
    ng-disabled="!vm.canUpdate"
  ) yes, launch it!

  button.hollow(
    ng-click="vm.showConfirmlaunch = !vm.showConfirmlaunch"
    ng-hide="vm.launching || vm.launched"
    ng-disabled="!vm.canUpdate"
  ) cancel

  .loader-house(ng-show="vm.launching")
    loader

.confirm.complete.flex.middle.center(ng-class="{ active: vm.showConfirmComplete }")
  p(ng-hide="vm.completed") Are you sure you want to complete this project?

  .flex.bottom(ng-show="vm.completed")
    .icon.checkmark-white.small

    h5 Project completed!

  button.hollow(
    ng-click="vm.complete()"
    ng-hide="vm.completing || vm.completed"
    ng-disabled="!vm.canUpdate"
  ) yes, complete it!

  button.hollow(
    ng-click="vm.showConfirmComplete = !vm.showConfirmComplete"
    ng-hide="vm.completing || vm.completed"
    ng-disabled="!vm.canUpdate"
  ) cancel

  .loader-house(ng-show="vm.completing")
    loader

.flex.rows
  .house.nav
    button.action.claim(
      ng-if="vm.userType == 'COPILOT' && !vm.claimed"
      ng-hide="vm.showConfirmClaim"
      ng-click="vm.showConfirmClaim = !vm.showConfirmClaim"
      ng-disabled="!vm.canUpdate"
    ) claim project

    button.action.launch(
      ng-if="vm.userType == 'COPILOT' && vm.estimateAccepted"
      ng-hide="vm.showConfirmLaunch"
      ng-click="vm.showConfirmLaunch = !vm.showConfirmLaunch; vm.showConfirmClaim = false"
      ng-disabled="!vm.canUpdate"
    ) launch project

    button.action.complete(
      ng-if="vm.userType == 'COPILOT' && vm.launched"
      ng-hide="vm.showConfirmComplete"
      ng-click="vm.showConfirmComplete = !vm.showConfirmComplete; vm.showConfirmLaunch = false"
      ng-disabled="!vm.canUpdate"
    ) complete project

    ul
      li
        button.clean(scroll-element="project-details-setup") basic details

      li(ng-if="vm.isOtherPlatform")
        button.clean(scroll-element="project-details-requirements") requirements

      li
        button.clean(scroll-element="project-details-features") features

      li
        button.clean(scroll-element="project-details-design") visual design

      li
        button.clean(scroll-element="project-details-development") development

  ul.requirements.flex-grow(ng-hide="vm.loading")

    estimate-project.transition(
      project-id="{{ vm.id }}"
      ng-if="vm.userType == 'COPILOT'"
      ng-class="{ active: vm.claimed }"
      permissions="vm.permissions"
    )

    li(id="project-details-setup")
      include details/setup

    li(id="project-details-requirements" ng-if="vm.isOtherPlatform")
      include details/requirements

    li(id="project-details-features")
      include details/features

    li(id="project-details-design")
      include details/design

    li(id="project-details-development")
      include details/development

