p.error(ng-class="{ hide: !vm.error }") {{ vm.errorMessage }}

loader(ng-if="vm.loading")

form(ng-submit="vm.submit()")
  .first-name
    input.widest(type="text" name="first-name" ng-model="vm.firstName" required=true placeholder="First Name" maxlength="64" autofocus=true)

  .last-name
    input.widest(type="text" name="last-name" ng-model="vm.lastName" required=true placeholder="Last Name" maxlength="64")

  .organization
    input.widest(type="text" name="organization" ng-model="vm.organization" required=true placeholder="Organization")

  hr

  .username
    input.widest(type="text" name="username" ng-model="vm.username" required=true placeholder="Username")

    .tooltip.elevated
      .arrow

      p Your username is public, please pick one that uses letters, numbers, and these special characters: (-_.{}[])

  .password
    input.widest(type="password" name="password" ng-model="vm.password" required=true placeholder="Password")

    .tooltip.elevated
      .arrow

      p.header Your password must be:

      ul.use
        li
          p At least 8 characters long.

        li
          p At least 1 letter (A-Z)

        li
          p At least 1 number (0-9) or symbol (!?-_.,;)

  input.widest(type="email" name="email" ng-model="vm.email" required=true placeholder="Email")

  button.action.submit(type="submit") Register