- aboutProject = { label: 'About Project', href: '#', kids: [] }
- aboutProject.kids.push({ label: 'Project Name', href: '#', state: "name" })
- aboutProject.kids.push({ label: 'Project Type', href: '#', state: "type" })
- aboutProject.kids.push({ label: 'Project Specs', href: '#', state: "brief"  })
- aboutProject.kids.push({ label: 'Project Elevator pitch', href: '#', state: "elevator-pitch"  })
- aboutProject.kids.push({ label: 'Similar apps', href: '#', state: "competitors"  })

- appUsers = { label: 'App Users', href: '#', kids: [] }
- appUsers.kids.push({ label: 'Your Users', href: '#', state: "users" })

- appFeatures = { label: 'App Features', href: '#', kids: [] }
- appFeatures.kids.push({ label: 'Choose Your Features', href: '#', state: "features" })

- appDesign = { label: 'App design', href: '#', kids: [] }
- appDesign.kids.push({ label: 'Upload Design Files', href: '#', state: "designs" })

- launch = { label: 'Launch App', href: '#', kids: [] }
- launch.kids.push({ label: 'Initial Estimate', href: '#', state: "estimate" })

- navs = [aboutProject, appUsers, appFeatures, appDesign, launch]

.fixed-wrapper
  .example.login
    h2 Email Login:

    h3 allows users to login with email and username

    img(src="/submit-work/images/phone.png")

  .project
    .name Name: {{work.name}}

    .type {{work.requestType | requestType }}

    .price {{price() | estimate}}

  nav(role="navigation")
    ul#submit-work-nav
      each nav, i in navs
        if i % 2 == 0
          - completed = 'completed'
        else
          - completed = ''

        li(class=completed)
          p!= nav.label

          ul
            each kid in nav.kids
              li
                a(class=kid.state, class="current", state=kid.state, ng-click="scrollTo('#{kid.state}')")!= kid.label
