h2 About your project

h3 What type of project do you need?

form(name="typeForm", ng-submit="submit()")
  input(
    name         = "type",
    type         = "hidden",
    required     = true,
    ng-model     = "vm.work.requestType",
  )

  ul.project-types
    li
      label(for="project-type-design") DESIGN

      button#project-type-design(
        type="button",
        ng-class="{'selected': vm.work.requestType == 'design'}",
        ng-click="setType($event, 'design')",
        ng-enter="submit()"
      )
        .starting-at starting at

        .price $2,000

        .duration about 1 week

      .description I need design for my app.

    li
      label(for="project-type-code") CODE

      button#project-type-code(
        type="button",
        ng-class="{'selected': vm.work.requestType == 'code'}",
        ng-click="setType($event, 'code')",
        ng-enter="submit()"
      )
        .starting-at starting at

        .price $5,000

        .duration about 2 weeks

      .description I have a design and need an app created from it.

    li
      label(for="project-type-design-code") DESIGN &amp; CODE

      button#project-type-design-code(
        type="button",
        ng-class="{'selected': vm.work.requestType == 'both'}",
        ng-click="setType($event, 'both')",
        ng-enter="submit()"
      )
        .starting-at starting at

        .price $10,000

        .duration about 3 weeks

      .description I have an idea for an app and need it designed and built.

  ul.invalid-messages(ng-show="typeForm.$dirty")
    li(ng-show="typeForm.type.$error.required") Please tell us the type of your project.

  button.submit(type="submit", ng-show="typeForm.$valid") NEXT

