h2 What features does your app need?

h3 Select from our list, or describe your own.

form(name="featureForm", ng-submit="submit()")
  ul.features
    li(ng-repeat="feature in vm.work.features")
      input(id="{{'feature-' + feature.id}}", type="checkbox", ng-model="feature.selected", ng-change="updatePrice()")

      .label-example
        label(for="{{'feature-' + feature.id}}") {{feature.name}}

        button.clean(
          type="button"
          ng-mouseover="vm.showExample('login')",
          ng-mouseleave="vm.hideExample()",
          title="View example"
        )

      .desc {{feature.description}}

      textarea(placeholder="explain briefly (optional)", ng-show="feature.selected", ng-model="feature.explanation")

  .new-feature
    .title
      input(
        type="text",
        ng-model="vm.newFeatureName",
        placeholder="Name",
        ng-keypress="onPress($event)"
      )

    .explanation-n-add
      textarea(
        type="text",
        ng-model="vm.newFeatureExplanation",
        ng-keypress="onPress($event)",
        placeholder="Explanation"
      )

      button(type="button", ng-click="vm.add()") +

  button.submit(type="submit", ng-show="featureForm.$valid") NEXT
