modal(show="vm.showModal" background-click-close=true)
  file-detail(
    project-id="{{ vm.projectId }}"
    step-id="{{ vm.stepId }}"
    submission-id="{{ vm.submissionId }}"
    file-id="{{ vm.fileId }}"
    isModal="{{ vm.isModal }}"
    user-type="{{ vm.userRole }}"
    permissions="vm.permissions"
  )
