layout-header(role="banner" work-id="{{ vm.projectId }}" user-type="{{ vm.userRole }}")

layout-project-nav(work-id="{{ vm.projectId }}" user-type="{{ vm.userRole }}")

main.layout-main("role"="main" layout-main=true)
  h1 Manage Project Steps

  manage-steps(
    project-id="vm.projectId"
    store="vm.store"
    user-role="{{ vm.userRole }}"
    permissions="vm.permissions"
  )

layout-footer
