layout-header(role="banner" work-id="{{ vm.workId }}" user-type="{{ vm.userRole }}")

layout-project-nav(work-id="{{ vm.workId }}" user-type="{{ vm.userRole }}")

main.project-page.messaging.layout-main("role"="main" layout-main=true)
  h1(ng-if="vm.userRole == 'customer'") messaging with copilot

  h1(ng-if="vm.userRole == 'copilot'") Customer Messages

  p(ng-if="vm.userRole == 'copilot' && !vm.hasCopilot && !vm.working") You cannot message a customer before claiming a project.

  p(ng-if="vm.userRole == 'customer' && !vm.hasCopilot && !vm.working ") Your Copilot has not yet been assigned. <br />Once your Copilot joins the project, you will be able to exchange messages with them here.

  messaging.flex.column.flex-grow.middle(
    flush-height="flush-height"
    ng-if="vm.hasCopilot"
    work-id="{{ vm.workId }}"
    thread-id="{{ vm.threadId }}"
    subscriber-id="{{ vm.subscriberId }}"
    user-role="{{ vm.userRole }}"
  )

  loader(ng-show="vm.working")

layout-footer
