layout-header(role="banner" work-id="{{ vm.projectId }}" user-type="{{ vm.userRole }}")

layout-project-nav(work-id="{{ vm.projectId }}" user-type="{{ vm.userRole }}")

main.layout-main.project-page.submissions("role"="main" layout-main=true flush-height=true)
  submissions(
    project-id="{{ vm.projectId }}"
    step-id="{{ vm.stepId }}"
    user-type="{{ vm.userRole }}"
    permissions="vm.permissions"
  )

layout-footer