layout-header.elevated-bottom(role="banner" work-id="{{ vm.workId }}")

layout-project-nav(work-id="{{ vm.workId }}")

button(ng-if="!vm.isClient" ng-click="vm.back()") back to project

main.layout-main.project-page.flex.column("role"="main" layout-main=true flush-height='lock')
  h2 messaging with copilot

  messaging.flex.column.flex-grow.middle(
    flush-height=true
    ng-if="vm.hasCopilot"
    work-id="{{ vm.workId }}"
    thread-id="{{ vm.threadId }}"
    subscriber-id="{{ vm.subscriberId }}"
  )

  main.no-copilot(ng-if="!vm.hasCopilot")
    p Your Copilot has not yet been assigned.

    p Once your Copilot joins the project, you will be able to exchange messages with them here.

  loader(ng-show="vm.working")

layout-footer
