layout-header.elevated-bottom(role="banner" work-id="{{ vm.workId }}")

layout-project-nav(work-id="{{ vm.workId }}")

button(ng-if="!vm.isClient" ng-click="vm.back()") back to project

main.layout-main.messaging.project-page("role"="main" layout-main=true)
  h2 messaging with copilot

  p(ng-if="!vm.hasCopilot") Your Copilot has not yet been assigned. <br />Once your Copilot joins the project, you will be able to exchange messages with them here.

  messaging.flex.column.middle(
    flush-height="lock"
    ng-if="vm.hasCopilot"
    work-id="{{ vm.workId }}"
    thread-id="{{ vm.threadId }}"
    subscriber-id="{{ vm.subscriberId }}"
  )

  loader(ng-show="vm.working")

layout-footer
