- var scripts = []
- scripts.push('/src/client/app/app.module')
- scripts.push('constants')
- scripts.push('/src/client/app/blocks/exception/exception.module')
- scripts.push('/src/client/app/blocks/logger/logger.module')
- scripts.push('/src/client/app/blocks/router/router.module')
- scripts.push('/src/client/app/core/core.module')
- scripts.push('/src/client/app/layout/scripts/layout.module')
- scripts.push('/src/client/app/project/create/create.module')
- scripts.push('/src/client/app/project/manage/manage.module')
- scripts.push('/src/client/app/project/project.module')
- scripts.push('/src/client/app/widgets/widgets.module')
- scripts.push('/src/client/app/blocks/exception/exception-handler.provider')
- scripts.push('/src/client/app/blocks/exception/exception')
- scripts.push('/src/client/app/blocks/logger/logger')
- scripts.push('/src/client/app/blocks/router/router-helper.provider')
- scripts.push('/src/client/app/core/config')
- scripts.push('/src/client/app/core/constants')
- scripts.push('/src/client/app/core/core.route')
- scripts.push('/src/client/app/project/create/create.controller')
- scripts.push('/src/client/app/project/create/create.route')
- scripts.push('/src/client/app/project/create/home.controller')
- scripts.push('/src/client/app/project/create/submit/submit.controller')
- scripts.push('/src/client/app/project/manage/filters/lookandFeel.filter')
- scripts.push('/src/client/app/project/manage/filters/screens.filter')
- scripts.push('/src/client/app/project/manage/manage.route')
- scripts.push('/src/client/app/project/manage/multiple.controller')
- scripts.push('/src/client/app/project/manage/single.controller')
- scripts.push('/src/client/app/project/project.service')
- scripts.push('/src/client/app/widgets/ht-img-person.directive')
- scripts.push('/src/client/app/widgets/ht-widget-header.directive')

- var bowers = []

- bowers.push('/bower_components/jquery/dist/jquery')
- bowers.push('/bower_components/angular/angular')
- bowers.push('/bower_components/ng-messages/angular-messages')
- bowers.push('/bower_components/angular-sanitize/angular-sanitize')
- bowers.push('/bower_components/bootstrap/dist/js/bootstrap')
- bowers.push('/bower_components/extras.angular.plus/ngplus-overlay')
- bowers.push('/bower_components/moment/moment')
- bowers.push('/bower_components/angular-ui-router/release/angular-ui-router')
- bowers.push('/bower_components/toastr/toastr')
- bowers.push('/bower_components/angular-animate/angular-animate')

- var bowercss = []
- bowercss.push('/bower_components/bootstrap/dist/css/bootstrap')
- bowercss.push('/bower_components/font-awesome/css/font-awesome')
- bowercss.push('/bower_components/toastr/toastr')

- var css = ["layout/styles/reset", "layout/styles/main", "layout/styles/header", "getting-started/styles/getting-started"]
- var mobileLandCss = ["layout/styles/mobile-landscape/header"]
- var mobilePortCss = ["layout/styles/mobile-portrait/header"]
- var desktopCss = ["layout/styles/desktop/header"]

doctype html
html(ng-app='app')
  head
    style.
      /* This helps the ng-show/ng-hide animations start at the right place. */
      /* Since Angular has this but needs to load, this gives us the class early. */
      .ng-hide {
        display: none !important;
      }
    title(ng-bind='title') Appiro Work Platform

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    base(href='/')

    // build:css styles/lib.css
    each path in bowercss
      link(href=path + ".css", rel="stylesheet")
    // endbuild

    // build:css styles/app.css
    each path in css
      link(href=path + ".css", rel="stylesheet")
    // endbuild

    // build:css styles/mobile-portrait.css
    // inject:css
    each path in mobilePortCss
      link(href=path + ".css", rel="stylesheet", media="(max-width: 375px)")
    // endbower
    // endbuild

    // build:css styles/mobile-landscape.css
    // inject:css
    each path in mobileLandCss
      link(href=path + ".css", rel="stylesheet", media="(min-width: 376px) and (max-width:767px)")
    // endbower
    // endbuild

    // build:css styles/desktop.css
    // inject:css
    each path in desktopCss
      link(href=path + ".css", rel="stylesheet", media="(min-width: 768px)")
    // endbower
    // endbuild

  body
    include layout/views/shell.jade

    // build:js js/lib.js
    each path in bowers
      script(src= path + ".js", type="text/javascript")
    // endbuild

    // build:js js/app.js
    each path in scripts
      script(src=path + ".js", type="text/javascript")
    // inject:templates:js
    // endinject
    // endbuild
